html(lang="pt-BR")
  head
    - var name = 'grunt'
    block vars
    meta(charset="UTF-8")
    title #{name}_work #{titulo}
    meta(name="author" content="lucasferreiralimax")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href="/assets/favicon.ico" rel="shortcut icon" type="image/x-icon")
    block head_page      
    <!-- include: "type": "css", "files": "css/**/*.css" -->
  body
    block content
    <!-- include: "type": "js", "files": "js/**/*.js" -->
